.option {
  width: 50vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
}
#left {
  background-color: #5cb85c;
  position: absolute;
  top: 0%;
  left: 0%;
}
#right {
  background-color: #d9534f;
  position: absolute;
  top: 0%;
  right: 0%;
}
.label {
  margin: auto;
  color: white;
  text-transform: uppercase;
  font-size: 32px;
}
