.option {
  width: 50vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
}
#left {
  background-color: green;
  position: absolute;
  top: 0%;
  left: 0%;
}
#right {
  background-color: red;
  position: absolute;
  top: 0%;
  right: 0%;
}
.label {
  margin: auto;
}
